<div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="col-4 pl-0">
      <h1>Create new service</h1>
    </div>
    
    <div class="col-2 pr-0 text-right">
      <button class="btn btn-success" routerLink="/main">Back</button>
    </div>
  </div>

  <div class="myform" [formGroup]="questionArray">
    <div class="row">
      <div class="col-2 text-left pl-0">
        <label class="serviceName">Name of Service:</label>
      </div>
      <div class="col-2">
        <input type="text" class="serviceName" formControlName="serviceName">
      </div>
    </div>
    
    <div class="row">
      <div class="col-2 text-left pl-0">
        <label class="serviceName">Name of Provider:</label>
      </div>
      <div class="col-2">
        <input type="text" class="providerName" formControlName="providerName">
      </div>
    </div>

    <div class="questions mt-3 mb-3">
      <div class="question-section" *ngFor="let dimension of dimensions; let d = index">
        <h2>{{dimension | titlecase}}</h2>
        <div class="question" *ngFor="let question of questionArray.controls[dimension].value; let i = index; trackBy: trackByFn"
          [formGroup]="questionArray.controls[dimension].controls[i]">
          <span class="ml-2" style="font-style: italic;">Question {{(i+1)}}</span>
          <div class="row">
            <div class="col-3 text-right">
              <label class="ml-3">Expectation statement:</label>
            </div>
            <div class="col-9">
              <input type="text" class="statement" formControlName="expectation">
            </div>
          </div>
          
          <div class="row">
            <div class="col-3 text-right">
              <label class="ml-3">Perception statement:</label>
            </div>
            <div class="col-9">
              <input type="text" class="statement" formControlName="perception">
            </div>
          </div>
        </div>

        <div class="add-question ml-2 text-center" (click)="addQuestion(dimension)">
          + Add question
        </div>

      </div>
      <button type="submit" class="btn btn-success submit" (click)="onSubmit()">Submit</button>
    </div>
  </div>

</div>