label{
    font-weight: 500;    
    font-size: 1.2em;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}

.btn{
    width: 100%;
}

.myform{
    margin-top: 30px;
}

.submit{
    width: 20%;
    margin-top: 20px;
}

.serviceName{
    display: block;
}

.questions{
    background-color: #fff;
    border: solid 1px #888;
    border-radius: 7px;
    padding: 10px;
}

.question-section{
    margin-bottom: 20px;
}

.statement{
    width: 100%;
}

.add-question{
    border: solid 1px red;
    border-radius: 20px;
    width: 15%;
    color: red;
    background-color: #fee;
    text-decoration: underline;
}