<nav class="navbar navbar-dark" style="background-color: #51C95D;">
    <span class="navbar-brand mb-0 h1 logo-container"
    routerLink='/main' style="outline: none;">SERVCOMP</span>
    <span><button class="btn btn-success cancel-button" (click)="showModal=true" data-toggle="modal"
        data-target="#loginModal" *ngIf="!userService.getLoggedIn()">Login</button></span>
    <span style="color:white" *ngIf="userService.getLoggedIn()">Logged in</span>
</nav>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true"
    [ngClass]="{show: showModal}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalTitle">Log in as Service Manager</h5>
          <button type="button" class="close" (click)="showModal=false" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="login-form" [formGroup]="loginForm">
            <div class="row">
                <div class="col-2 text-left pl-3 pb-2">
                  <label>Username:</label>
                </div>
                <div class="col-2">
                  <input type="text" formControlName="username">
                </div>
            </div>
            <div class="row">
                <div class="col-2 text-left pl-3">
                  <label>Password:</label>
                </div>
                <div class="col-2">
                  <input type="password" formControlName="password">
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="showModal=false" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" (click)="login(); checkLogIn()">Login</button>
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>