.logo-container{
    background-color: #378F17;
    border-radius: 10px;
    padding: 7px 30px;
    box-shadow: 3px 3px 3px -1px #267E06;
}

.logo-container:hover{
    cursor: pointer;
}

.modal-content{
    border: 2px solid #267E06;
}

.modal.show{
    display:block;
}