<div class="container">

  <div class="row justify-content-between">
    <div class="col-8 pl-0">
      <h1>Rate {{service?.name}}</h1>
    </div>
    <div class="col-2 align-self-center pr-0">
      <button class="btn btn-success" (click)="goBack()">Back</button>
    </div>
  </div>

  <div class="questions mt-3 mb-3">
    <div class="row justify-content-end">
      <div class="col-5">
        <div class="row justify-content-between">
          <div class="col-4 text-center" style="font-size: 0.8em; color: #888;">Strongly disagree</div>
          <div class="col-4 text-right" style="font-size: 0.8em; color: #888">Strongly agree</div>
        </div>
      </div>
    </div>
    <div *ngFor="let dimension of dimensions">
      <h2>{{dimension.dimension | titlecase}}</h2>
      <div class="question pl-3 mb-3" *ngFor="let question of dimension.questions; let j = index">
      <div class="row mb-1">
        <div class="col-7">
          {{question.expectation}}:
          <br>
        </div>
        <div class="col-5">
          <div class="radiobuttons">
            <div class="row form-check form-check-inline justify-content-between">
              <div class="col-1">
                  <input class="form-check-input position-static" type="radio" name="expectation_{{dimension.dimension}}{{j}}"  value="0">
              </div>
              <div class="col-1">
                  <input class="form-check-input position-static" type="radio" name="expectation_{{dimension.dimension}}{{j}}"  value="1">
              </div>
              <div class="col-1">
                  <input class="form-check-input position-static" type="radio" name="expectation_{{dimension.dimension}}{{j}}"  value="2">
              </div>
              <div class="col-1">
                  <input class="form-check-input position-static" type="radio" name="expectation_{{dimension.dimension}}{{j}}"  value="3">
              </div>
              <div class="col-1">
                  <input class="form-check-input position-static" type="radio" name="expectation_{{dimension.dimension}}{{j}}"  value="4">
              </div>
              <div class="col-1">
                  <input class="form-check-input position-static" type="radio" name="expectation_{{dimension.dimension}}{{j}}"  value="5">
              </div>
              <div class="col-1">
                  <input class="form-check-input position-static" type="radio" name="expectation_{{dimension.dimension}}{{j}}"  value="6">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          {{question.perception}}:
        </div>
        <div class="col-5">
          <div class="radiobuttons">
            <div class="row form-check form-check-inline justify-content-between">
                <div class="col-1">
                    <input class="form-check-input position-static" type="radio" name="perception_{{dimension.dimension}}{{j}}"  value="0">
                </div>
                <div class="col-1">
                    <input class="form-check-input position-static" type="radio" name="perception_{{dimension.dimension}}{{j}}"  value="1">
                </div>
                <div class="col-1">
                    <input class="form-check-input position-static" type="radio" name="perception_{{dimension.dimension}}{{j}}"  value="2">
                </div>
                <div class="col-1">
                    <input class="form-check-input position-static" type="radio" name="perception_{{dimension.dimension}}{{j}}"  value="3">
                </div>
                <div class="col-1">
                    <input class="form-check-input position-static" type="radio" name="perception_{{dimension.dimension}}{{j}}"  value="4">
                </div>
                <div class="col-1">
                    <input class="form-check-input position-static" type="radio" name="perception_{{dimension.dimension}}{{j}}"  value="5">
                </div>
                <div class="col-1">
                    <input class="form-check-input position-static" type="radio" name="perception_{{dimension.dimension}}{{j}}"  value="6">
                </div>
            </div>
          </div>
        </div>
      </div>
        
      </div>
    </div>
    <label>Username: </label>
    <input type="text" class="mb-3 ml-3" [formControl]="userName">
    <div>
      <button class="btn btn-success btn-submit" (click)="onSubmit()">Submit</button>
    </div>
  </div>
  
</div>