label{
    font-weight: 500;    
    font-size: 1.2em;
}

.questions{
    border: solid 1px black;
    border-radius: 7px;
    padding: 10px;
    border-color: #888;
    background-color: #fff;
}

.warning{
    color: red;
}

.form-check-input{
    margin-right: 50px;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}

.btn{
    width: 100%;
}

.btn-submit{
    width: 15%;
}