<div class="container">
  <div id="firstRow" class="row align-items-center">
    <div class="col pl-0">
      <h2 class="main-heading">List of Services</h2>
    </div>
    <div class="col-md-auto" *ngIf="userService.getLoggedIn()">
      <button id="add-button" type="button" class="btn btn-success" routerLink='/service/add' *ngIf="!select"
       title="Add new Service">
        +
      </button>
    </div>
    <div class="col-md-auto pr-0">
      <input type="text" [formControl]="filter" class="text-field" placeholder="Search services...">
    </div>
  </div>
  <div class="row justify-content-between mt-1 compare" *ngIf="select">
    <div class="col-4 pl-0">
      <button class="btn btn-danger">Compare with selected service</button>
    </div>
    <div class="col-2 pr-0 text-right">
      <button routerLink='/main' class="btn btn-success cancel-button">Cancel</button>
    </div>
  </div>

  <div class="pt-3">
    <ul class="list-group">
      <ng-container *ngFor = "let service of filteredServices$ | async">
        <li class="list-group-item" *ngIf="serviceId != service.id" 
        (click)="onClick(serviceId, service.id)">
          <div class="row justigy-content-between">
            <div class="col-5 pl-3 format-text">{{service.name}}</div>
            <div class="col-5 format-text">{{service.provider.name}}</div>
            <div class="col-md-2 align-bottom service-score format-text">
              <span class="pr-3">{{service.overallScore | number:'1.0-2'}}</span>
              <img class="pb-1" src="../../assets/svg/star.svg" alt="star" style="width:25px;height:25px;">
              <!-- Icon made by Pixel perfect from www.flaticon.com -->
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>