.provider {
    text-align: center;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}

#add-button{
    font-weight: 1000;
}

#add-button{
    border: solid 2px green;
}

.format-text {
    font-size: 1.2em;
    font-weight: 500;
}

.text-field{
    border: none;
    border: solid 1px black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    outline: none;
}

.list-group-item{
    padding-left: 0;
    padding-right: 0;
}

.service-score{
    text-align: right;
}

.cancel-button{
    width: 100%;
}