<div class="question" *ngFor="let question of questionArray.controls; index as i">
  <span class="ml-2">Question {{i+1}}</span>
  <div class="row">
    <div class="col-3 text-right">
      <label class="ml-3">Expectation statement:</label>
    </div>
    <div class="col-9">
      <input type="text" class="statement" [formControl]="questionArray.controls[i].controls['expectation']">
    </div>
  </div>
  
  <div class="row">
    <div class="col-3 text-right">
      <label class="ml-3">Perception statement:</label>
    </div>
    <div class="col-9">
      <input type="text" class="statement" [formControl]="questionArray.controls[i].controls['perception']">
    </div>
  </div>
</div>