.chart{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin:auto;
    border: solid 1px #888;
    background-color: #fff;
    border-radius: 7px;
}

.container{
    margin-bottom: 15px;
}

.btn{
    width: 100%;
}

.btn-80{
    width: 80%;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}