<div class="container">
  <div class="row justify-content-between align-items-center">
    <div class="col-6 pl-0">
      <h3>{{service1?.name}}/ {{service2?.name}}</h3>
    </div>

    <div class="col-3">
      <div class="row justify-content-center">
        <div class="col text-center" style="font-size: 1.2em;">Overall Score</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-auto pr-0" style="font-size: 1.7em; font-weight: bold;">{{service1?.overallScore | number: '1.0-2'}}/ {{service2?.overallScore | number: '1.0-2'}}</div>
        <div class="col-md-auto pl-1 align-self-center">
          <img class="pb-1" src="../../assets/svg/star.svg" alt="star" style="width:25px;height:25px;">
          <!-- Icon made by Pixel perfect from www.flaticon.com -->
        </div>
      </div>
    </div>

    <div class="col-2 pr-0 text-rigth">
      <button class="btn btn-success" routerLink='/service/{{service1?.id}}'>Back</button>
    </div>
  </div>

  <div class="chart mt-3">
    <p-chart type="bar" height="300px" [data]="data" [options]="options"></p-chart>
  </div>

  <div class="row mt-3">
    <div class="col-4 pl-0">
      <button class="btn btn-success btn-80" (click)="exportAsXLSX()">Export Results</button>
    </div>
  </div>
  
</div>