<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-5 pl-0">
      <h1>{{service?.name}}</h1>
    </div>

    <div class="col-3">
      <div class="row justify-content-center">
        <div class="col text-center" style="font-size: 1.2em;">Overall Score</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-auto pr-0" style="font-size: 1.7em; font-weight: bold;">{{service?.overallScore | number: '1.0-2'}}</div>
        <div class="col-md-auto pl-1 align-self-center">
          <img class="pb-1" src="../../assets/svg/star.svg" alt="star" style="width:25px;height:25px;">
            <!-- Icon made by Pixel perfect from www.flaticon.com -->
        </div>
      </div>
    </div>

    <div class="col-2 pr-0">
      <button class="btn btn-success" routerLink='/main'>Back</button>
    </div>
  </div>

  <div class="chart mt-3 text-center">
     <p-chart type="bar" height="300px" [data]="data" [options]="options"></p-chart>
  </div>

  <div class="row mt-3 justify-content-between">
    <div class="col-4 text-left pl-0">
      <button class="btn btn-success btn-80" routerLink='/service/rate/{{service?.id}}'>Rate Service</button>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-success btn-80" routerLink='/service/{{service?.id}}/compare'>Compare Service</button>
    </div>
    <div class="col-4 text-right pr-0">
      <button class="btn btn-success btn-80" (click)="exportAsXLSX()">Export Results</button>
    </div>
  </div>
  
</div>