.chart{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin:auto;
    border: solid 1px #888;
    background-color: #fff;
    border-radius: 7px;
}

p-chart{
    padding-top: 50px;
}

.container{
    margin-bottom: 15px;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}

.score{
    font-size: 1.2em;
    font-weight: bold;
}

.scoreRow{
    width: 93%;
    margin: auto;
}

.btn{
    width:100%;
}

.btn-80{
    width: 80%;
}