/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #EDEDED;
}

.container{
    padding: 0;
    margin-top: 70px;
}